Repository Esri/arcgis-maps-sdk-java-samples, pull requests merged in 2022-08, with the labels that each got.

#702 [Sample Update] Feature Layer Dictionary Renderer sample
  feature_layers/feature-layer-dictionary-renderer/src/main/java/com/esri/samples/feature_layer_dictionary_renderer/FeatureLayerDictionaryRendererSample.java
Labels: Bug, Sample Update

#703 [Sample Update] Rename "Generate Geodatabase" sample
  feature_layers/generate-geodatabase-replica-from-feature-service/GenerateGeodatabaseReplicaFromFeatureService.png
  feature_layers/generate-geodatabase-replica-from-feature-service/README.md
  feature_layers/generate-geodatabase-replica-from-feature-service/README.metadata.json
  feature_layers/generate-geodatabase-replica-from-feature-service/build.gradle
  feature_layers/generate-geodatabase-replica-from-feature-service/gradle/wrapper/gradle-wrapper.properties
  feature_layers/generate-geodatabase-replica-from-feature-service/gradlew
  feature_layers/generate-geodatabase-replica-from-feature-service/gradlew.bat
  feature_layers/generate-geodatabase-replica-from-feature-service/settings.gradle
  feature_layers/generate-geodatabase-replica-from-feature-service/src/main/java/com/esri/samples/generate_geodatabase_replica_from_feature_service/GenerateGeodatabaseReplicaFromFeatureServiceLauncher.java
  feature_layers/generate-geodatabase-replica-from-feature-service/src/main/java/com/esri/samples/generate_geodatabase_replica_from_feature_service/GenerateGeodatabaseReplicaFromFeatureServiceSample.java
  feature_layers/generate-geodatabase/src/main/java/com/esri/samples/generate_geodatabase/GenerateGeodatabaseLauncher.java
Labels: Sample Update

#704 [Sample Update] Find Place: add work around for JavaFX bug
  search/find-place/src/main/java/com/esri/samples/find_place/FindPlaceController.java
Labels: Bug, Sample Update

#705 [Sample Update] Query with CQL Filters update
  ogc/query-with-cql-filters/build.gradle
  ogc/query-with-cql-filters/src/main/java/com/esri/samples/query_with_cql_filters/QueryWithCqlFiltersController.java
Labels: Sample Update

#700 [New Sample] Create Mobile Geodatabase
  .gitignore
  feature_layers/create-mobile-geodatabase/CreateMobileGeodatabase.png
  feature_layers/create-mobile-geodatabase/README.md
  feature_layers/create-mobile-geodatabase/README.metadata.json
  feature_layers/create-mobile-geodatabase/build.gradle
  feature_layers/create-mobile-geodatabase/gradle/wrapper/gradle-wrapper.properties
  feature_layers/create-mobile-geodatabase/gradlew
  feature_layers/create-mobile-geodatabase/gradlew.bat
  feature_layers/create-mobile-geodatabase/settings.gradle
  feature_layers/create-mobile-geodatabase/src/main/java/com/esri/samples/create_mobile_geodatabase/CreateMobileGeodatabaseController.java
  feature_layers/create-mobile-geodatabase/src/main/java/com/esri/samples/create_mobile_geodatabase/CreateMobileGeodatabaseLauncher.java
  feature_layers/create-mobile-geodatabase/src/main/java/com/esri/samples/create_mobile_geodatabase/CreateMobileGeodatabaseSample.java
  feature_layers/create-mobile-geodatabase/src/main/java/com/esri/samples/create_mobile_geodatabase/FeatureAttributeField.java
  feature_layers/create-mobile-geodatabase/src/main/resources/create_mobile_geodatabase/main.fxml
  feature_layers/create-mobile-geodatabase/src/main/resources/create_mobile_geodatabase/style.css
Labels: New Sample
